section {
    list-style: none;
    padding: 140px 140px;
    font-family: 'Varela Round', sans-serif;
    background-color: rgb(184, 184, 184);
    width: auto;
    height: 100%;
}
section h1, h2{
    text-align: center;
}
section h1{
    color: rgb(235, 27, 27);
    font-size: 40px;
}
section h2{
    padding: 10px;
}
section ul {
    display: flex;
    text-align: center;
    list-style:none;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    color: #fff;
}
section ul li {
    padding: 40px 0;
    width: 31.33%;
    margin: 1%;
    font-size: 20px;
}

li.card:nth-child(1){
    background-color: rgb(67, 67, 252);
}
li.card:nth-child(2){
    background-color: rgb(216, 67, 253);
}
li.card:nth-child(3){
    background-color: rgb(61, 131, 98);
}
li.card:nth-child(4){
    background-color: rgb(80, 79, 77);
}
li.card:nth-child(5){
    background-color: rgb(247, 108, 74);
}
li.card:nth-child(6){
    background-color: rgb(79, 166, 248);
}
span{
    font-size: small;
}


.card{
    border-radius: 10px;
    font-family: 'Varela Round', sans-serif;
}
.card_name{
    padding-bottom: 10px;
}
